#
# This file contains default values which are used
# by the salt states deploying your project.
# you may copy them to your relevant PILLAR file
# before editing them.
# If you need to add variables, this is where to begin.
# Please keep defaults in there, but real passwords
# must be putted inside pillar
#
# replace project_name in your pillar by
# the current projectname
# you can also merge parts of this file
# with the relevant pillar
#
# think that dicts are updated/merged with default
# but lists are overidden
makina-projects.projectname:
  data:
    register_token: xxx
    fixperms_cron_periodicity: "0 */2 * * *"
    modes: ['lxc']
    builds_dir: "{data_root}/builds"
    cache_dir: "{data_root}/cache"
    runner_config:
      concurrent: "1"
      check_interval: "0"
      runners:
      #   "xxx.xxx.net (CI)":
      #     url: "https://gitlab.xxx.net"
      #     token: "xxxx"
      #     executor: "ssh"
      #     tags_list: ["lxc", "makina-states"]
      #     ssh:
      #       user: "root"
      #       host: "foo.net"
      #       identity_file: "/home/users/gitlabrunner-user/.ssh/id_rsa" 
    configs: {}
      {% for i in [
      ] %}
      "{{i}}":
        source: "salt://makina-projects/{name}/files/{{i}}"
        target: "{{i}}"
        mode: 640
        user: root
        group: root
      {%endfor%}
      #foo.py:
      #  target: "{data_root}/test/bar.py"
# vim:set ft=sls:
